/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #bd038e;
  }
  
  header {
    background-color: #5dacda;
    color: #272626;
    padding: 10px 0;
  }
  
  h1 {
    margin: 0;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  footer {
    background-color: #5dacda;
    color: #272626;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  