extends layout

block content
  h2 About Us
  p This is the About Us page content.

//-I kept getting an error: Declaration of template inheritance ("extends") should be the first thing in the file. There can only be one extends statement per file. Moved comment to bottom. Can't even have a comment first."