//- index.pug
extends layout

block content
  h2 Welcome to the Home Page
  p This is the home page content.

  //- Form
  form(action="/submit-form", method="POST")
    div
      label(for="name") Name:
      input(type="text", name="name", id="name", required)
    div
      label(for="email") Email:
      input(type="email", name="email", id="email", required)
    button(type="submit") Submit
